USE [master]
GO
/****** Object:  Database [phoa262d_PhongMachQuang]    Script Date: 9/13/2016 6:35:48 AM ******/
CREATE DATABASE [phoa262d_PhongMachQuang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_PHONGMACH', FILENAME = N'C:\Program Files (x86)\Parallels\Plesk\Databases\MSSQL\MSSQL11.MSSQLSERVER2012\MSSQL\DATA\phoa262d_PhongMachQuang_QL_PHONGMACH_e3b663976a90480b840d517b6ca7976c.mdf' , SIZE = 3328KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_PHONGMACH_log', FILENAME = N'C:\Program Files (x86)\Parallels\Plesk\Databases\MSSQL\MSSQL11.MSSQLSERVER2012\MSSQL\DATA\phoa262d_PhongMachQuang_QL_PHONGMACH_log_d1e4307b7d0343d8bc687b80a3551e67.LDF' , SIZE = 3456KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [phoa262d_PhongMachQuang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [phoa262d_PhongMachQuang]
GO
/****** Object:  User [phoa262d_PhongMachQuang]    Script Date: 9/13/2016 6:35:48 AM ******/
CREATE USER [phoa262d_PhongMachQuang] FOR LOGIN [phoa262d_PhongMachQuang] WITH DEFAULT_SCHEMA=[phoa262d_PhongMachQuang]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [phoa262d_PhongMachQuang]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [phoa262d_PhongMachQuang]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [phoa262d_PhongMachQuang]
GO
ALTER ROLE [db_datareader] ADD MEMBER [phoa262d_PhongMachQuang]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [phoa262d_PhongMachQuang]
GO
/****** Object:  Schema [phoa262d_PhongMachQuang]    Script Date: 9/13/2016 6:35:49 AM ******/
CREATE SCHEMA [phoa262d_PhongMachQuang]
GO
/****** Object:  Table [dbo].[BENHNHAN]    Script Date: 9/13/2016 6:35:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BENHNHAN](
	[MA_BENHNHAN] [nvarchar](45) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[NGAYSINH] [datetime] NULL,
	[GIOITINH] [nvarchar](20) NULL,
	[DIACHI] [nvarchar](250) NULL,
	[SODT] [nvarchar](20) NULL,
	[BENHNHANID] [nvarchar](50) NULL,
	[NAMSINH] [nvarchar](20) NULL,
 CONSTRAINT [PK_BENHNHAN] PRIMARY KEY CLUSTERED 
(
	[MA_BENHNHAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETTOATHUOC]    Script Date: 9/13/2016 6:35:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETTOATHUOC](
	[MA_CHITIETTOATHUOC] [nvarchar](45) NOT NULL,
	[TENTHUOC] [nvarchar](150) NULL,
	[CACHDUNG] [nvarchar](50) NULL,
	[DONVI] [nvarchar](35) NULL,
	[SOLUONG] [nvarchar](45) NULL,
	[LIEULUONG_BUOISANG] [nvarchar](45) NULL,
	[LIEULUONG_BUOITRUA] [nvarchar](45) NULL,
	[LIEULUONG_BUOICHIEU] [nvarchar](45) NULL,
	[LIEULUONG_BUOITOI] [nvarchar](45) NULL,
	[MA_TOATHUOC] [nvarchar](45) NOT NULL,
 CONSTRAINT [PK_CHITIETTOATHUOC] PRIMARY KEY CLUSTERED 
(
	[MA_CHITIETTOATHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTTT_THEONGAY]    Script Date: 9/13/2016 6:35:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTTT_THEONGAY](
	[MA_TTTHEONGAY] [int] IDENTITY(1,1) NOT NULL,
	[TN_TENTHUOC] [nvarchar](80) NULL,
	[TN_CACHDUNG] [nvarchar](50) NULL,
	[TN_DONVI] [nvarchar](35) NULL,
	[TN_SOLUONG] [nvarchar](45) NULL,
	[LL_THU2] [nvarchar](20) NULL,
	[LL_THU3] [nvarchar](20) NULL,
	[LL_THU4] [nvarchar](20) NULL,
	[LL_THU5] [nvarchar](20) NULL,
	[LL_THU6] [nvarchar](20) NULL,
	[LL_THU7] [nvarchar](20) NULL,
	[LL_CHUNHAT] [nvarchar](20) NULL,
	[MA_TOATHUOC] [nvarchar](45) NULL,
	[TN_MOTA] [ntext] NULL,
	[LLC_THU2] [nvarchar](20) NULL,
	[LLC_THU3] [nvarchar](20) NULL,
	[LLC_THU4] [nvarchar](20) NULL,
	[LLC_THU5] [nvarchar](20) NULL,
	[LLC_THU6] [nvarchar](20) NULL,
	[LLC_THU7] [nvarchar](20) NULL,
	[LLC_CHUNHAT] [nvarchar](20) NULL,
 CONSTRAINT [PK_CTTT_THEONGAY] PRIMARY KEY CLUSTERED 
(
	[MA_TTTHEONGAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANHSACHTHUOC]    Script Date: 9/13/2016 6:35:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHSACHTHUOC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENTHUONGMAI] [nvarchar](400) NULL,
	[TENBIETDUOC] [nvarchar](400) NULL,
	[HAMLUONG] [nvarchar](100) NULL,
 CONSTRAINT [PK_DANHSACHTHUOC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IMAGE]    Script Date: 9/13/2016 6:35:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMAGE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ImagePath] [nvarchar](300) NULL,
	[Flage] [nvarchar](80) NULL,
 CONSTRAINT [PK_IMAGE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TOATHUOC]    Script Date: 9/13/2016 6:35:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOATHUOC](
	[MA_TOATHUOC] [nvarchar](45) NOT NULL,
	[MA_BENHNHAN] [nvarchar](45) NOT NULL,
	[KETQUA_CHUANDOAN] [ntext] NULL,
	[HUYETAP] [nvarchar](45) NULL,
	[MACHTIM] [nvarchar](45) NULL,
	[NGAYLAPTOA] [datetime] NULL,
	[NGAYTAIKHAM] [datetime] NULL,
	[LOIKHUYEN] [ntext] NULL,
	[HENTAIKHAM] [nvarchar](150) NULL,
 CONSTRAINT [PK_TOATHUOC] PRIMARY KEY CLUSTERED 
(
	[MA_TOATHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[BENHNHAN] ([MA_BENHNHAN], [HOTEN], [NGAYSINH], [GIOITINH], [DIACHI], [SODT], [BENHNHANID], [NAMSINH]) VALUES (N'BN030870', N'nguyen thị d', CAST(N'1991-04-20 00:00:00.000' AS DateTime), N'nu', N'Quận 4', N'012342343', N'16Q0010', NULL)
INSERT [dbo].[BENHNHAN] ([MA_BENHNHAN], [HOTEN], [NGAYSINH], [GIOITINH], [DIACHI], [SODT], [BENHNHANID], [NAMSINH]) VALUES (N'BN046605', N'PHẠM QUANG KHANH', NULL, N'nam', N'BRVT', N'', N'16Q0048', N'1962')
INSERT [dbo].[BENHNHAN] ([MA_BENHNHAN], [HOTEN], [NGAYSINH], [GIOITINH], [DIACHI], [SODT], [BENHNHANID], [NAMSINH]) VALUES (N'BN1028357', N'HUỲNH KIM XUYẾN', NULL, N'nu', N'BÌNH TÂN', N'', N'16Q0056', N'1954')
INSERT [dbo].[CHITIETTOATHUOC] ([MA_CHITIETTOATHUOC], [TENTHUOC], [CACHDUNG], [DONVI], [SOLUONG], [LIEULUONG_BUOISANG], [LIEULUONG_BUOITRUA], [LIEULUONG_BUOICHIEU], [LIEULUONG_BUOITOI], [MA_TOATHUOC]) VALUES (N'CTTT201642521772161', N'Savi Esomeprazole 20 mg', N'Uống trong bữa ăn', N'Ống', N'5 mg/80 mg', N'1', N'2', N'1', N'1', N'TT20164252177216')
INSERT [dbo].[CHITIETTOATHUOC] ([MA_CHITIETTOATHUOC], [TENTHUOC], [CACHDUNG], [DONVI], [SOLUONG], [LIEULUONG_BUOISANG], [LIEULUONG_BUOITRUA], [LIEULUONG_BUOICHIEU], [LIEULUONG_BUOITOI], [MA_TOATHUOC]) VALUES (N'CTTT201642521772162', N'Tadalafil 10mg Stada', N'Uống sau ăn no', N'Ống', N'400 mg', N'1', N'2', N'1', N'1', N'TT20164252177216')
INSERT [dbo].[CHITIETTOATHUOC] ([MA_CHITIETTOATHUOC], [TENTHUOC], [CACHDUNG], [DONVI], [SOLUONG], [LIEULUONG_BUOISANG], [LIEULUONG_BUOITRUA], [LIEULUONG_BUOICHIEU], [LIEULUONG_BUOITOI], [MA_TOATHUOC]) VALUES (N'CTTT201642521846261', N'Savi Esomeprazole 20 mg', N'Uống trong bữa ăn', N'Ống', N'5 mg/80 mg', N'1', N'2', N'1', N'1', N'TT20164252184626')
GO
SET IDENTITY_INSERT [dbo].[CTTT_THEONGAY] ON 

INSERT [dbo].[CTTT_THEONGAY] ([MA_TTTHEONGAY], [TN_TENTHUOC], [TN_CACHDUNG], [TN_DONVI], [TN_SOLUONG], [LL_THU2], [LL_THU3], [LL_THU4], [LL_THU5], [LL_THU6], [LL_THU7], [LL_CHUNHAT], [MA_TOATHUOC], [TN_MOTA], [LLC_THU2], [LLC_THU3], [LLC_THU4], [LLC_THU5], [LLC_THU6], [LLC_THU7], [LLC_CHUNHAT]) VALUES (69, N'GALVUS -MET 50MG/ 850MG', N'Uống ngay sau ăn', N'Ống', N'400 mg', N'3/4', N'3/4', N'3/4', N'3/4', N'3/4', N'3/4', N'3/4', N'TT20164252177216', N'uống thuốc đúng cử', N'3/4', N'3/4', N'3/4', N'3/4', N'3/4', N'3/4', N'3/4')
INSERT [dbo].[CTTT_THEONGAY] ([MA_TTTHEONGAY], [TN_TENTHUOC], [TN_CACHDUNG], [TN_DONVI], [TN_SOLUONG], [LL_THU2], [LL_THU3], [LL_THU4], [LL_THU5], [LL_THU6], [LL_THU7], [LL_CHUNHAT], [MA_TOATHUOC], [TN_MOTA], [LLC_THU2], [LLC_THU3], [LLC_THU4], [LLC_THU5], [LLC_THU6], [LLC_THU7], [LLC_CHUNHAT]) VALUES (70, N'GALVUS -MET 50MG/ 850MG', N'Uống ngay sau ăn', N'Ống', N'400 mg', N'3/4', N'3/4', N'3/4', N'3/4', N'3/4', N'3/4', N'3/4', N'TT20164252184626', N'uống thuốc đúng cử', N'3/4', N'3/4', N'3/4', N'3/4', N'3/4', N'3/4', N'3/4')
INSERT [dbo].[CTTT_THEONGAY] ([MA_TTTHEONGAY], [TN_TENTHUOC], [TN_CACHDUNG], [TN_DONVI], [TN_SOLUONG], [LL_THU2], [LL_THU3], [LL_THU4], [LL_THU5], [LL_THU6], [LL_THU7], [LL_CHUNHAT], [MA_TOATHUOC], [TN_MOTA], [LLC_THU2], [LLC_THU3], [LLC_THU4], [LLC_THU5], [LLC_THU6], [LLC_THU7], [LLC_CHUNHAT]) VALUES (71, N'Valsartan 80mg Stada', N'Uống ngay sau ăn', N'Viên', N'30mg', N'1/2', N'1/2', N'1/2', N'1/2', N'1/2', N'1/2', N'1/2', N'TT20164252184626', NULL, N'1/2', N'1/2', N'1/2', N'1/2', N'1/2', N'1/2', N'1/2')
SET IDENTITY_INSERT [dbo].[CTTT_THEONGAY] OFF
SET IDENTITY_INSERT [dbo].[DANHSACHTHUOC] ON 

INSERT [dbo].[DANHSACHTHUOC] ([ID], [TENTHUONGMAI], [TENBIETDUOC], [HAMLUONG]) VALUES (1, N'ACC-200 ( Acetylcysteine 200mg )', N'Acetylcysteine', N'200 mg')
INSERT [dbo].[DANHSACHTHUOC] ([ID], [TENTHUONGMAI], [TENBIETDUOC], [HAMLUONG]) VALUES (2, N'ADAGRIN 50 mg (Sildenafil)', N'Sildenafil 50mg', N'50 mg')
INSERT [dbo].[DANHSACHTHUOC] ([ID], [TENTHUONGMAI], [TENBIETDUOC], [HAMLUONG]) VALUES (3, N'Adalat LA 30', N'NULL', N'30mg')
GO
SET IDENTITY_INSERT [dbo].[DANHSACHTHUOC] OFF
SET IDENTITY_INSERT [dbo].[IMAGE] ON 

INSERT [dbo].[IMAGE] ([ID], [ImagePath], [Flage]) VALUES (1, N'/UploadedImages/benh-tim-mach.gif', N'LOGO')
SET IDENTITY_INSERT [dbo].[IMAGE] OFF
INSERT [dbo].[TOATHUOC] ([MA_TOATHUOC], [MA_BENHNHAN], [KETQUA_CHUANDOAN], [HUYETAP], [MACHTIM], [NGAYLAPTOA], [NGAYTAIKHAM], [LOIKHUYEN], [HENTAIKHAM]) VALUES (N'TT20164252177216', N'16Q0006', N'Ho có đàm', N'160', N'40', CAST(N'2016-04-25 21:07:07.217' AS DateTime), NULL, N'ăn uống và nghỉ ngơi thường xuyên', N'1 tuần')
INSERT [dbo].[TOATHUOC] ([MA_TOATHUOC], [MA_BENHNHAN], [KETQUA_CHUANDOAN], [HUYETAP], [MACHTIM], [NGAYLAPTOA], [NGAYTAIKHAM], [LOIKHUYEN], [HENTAIKHAM]) VALUES (N'TT20164252184626', N'16Q0006', N'Hở van tim cấp 1', N'160', N'70', CAST(N'2016-04-25 21:08:46.027' AS DateTime), NULL, N'Tập thể dục thường xuyên', N'1 tháng')
INSERT [dbo].[TOATHUOC] ([MA_TOATHUOC], [MA_BENHNHAN], [KETQUA_CHUANDOAN], [HUYETAP], [MACHTIM], [NGAYLAPTOA], [NGAYTAIKHAM], [LOIKHUYEN], [HENTAIKHAM]) VALUES (N'TT20164252227523', N'16Q0010', N'Đau tim cấp 1', N'190/20', N'100', CAST(N'2016-04-25 22:02:07.523' AS DateTime), NULL, N'tập thể dục thường xuyên', N'1 tháng')
USE [master]
GO
